@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.ChangeViewButtonUserLateralNavbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Urbanist', sans-serif; 
    font-weight: 400; 
    font-size: 1em; 
    color: black; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s ease; 
    margin-top: 0.5em;
    
}

.ChangeViewButtonUserLateralNavbar:hover {
    color: #b5b5b5; 
}

@media screen and (max-width: 576px) {
    .ChangeViewButtonUserLateralNavbar{
        width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 0.5em;
    }
  }