.restoreUserAccountDesign{
    min-height: 75vh;
    max-width: 100vw;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: start;
}

.restoreUserAccountForm{
    height: fit-content;
    width: fit-content;
}

.sureButton{
    background-color: green;
    cursor: pointer;

}

.returnButtonRestore{
    background-color: red;
    cursor: pointer;

}

.fontWeight{
    font-weight: bolder;
}

.nameAndSurnameRestoreUserAccount{
    display: flex;
    flex-wrap: wrap;
}