.userCardDesign {
    height: fit-content;
    width: 12em;
    background-color: rgb(255, 184, 102);
    margin: 2em;
}


.userCardRole{

    height: 1.5em;
    width: 100%;
    overflow: hidden;   
    background-color: rgb(233, 172, 103);

}

.userCardStatus{
    height: 1.5em;
    width: 100%;
    border-radius: 2em;
}

.userCardEmail{
    height: 1.5em;
    width: 100%;
    border: solid black 0.1em;
}

.fontSize{
    font-size: small;
}

.viewDetail{
    background-color: black;
    color: white;
    cursor: pointer;
}

.scrollIfNeeded{
    overflow-x: auto; 
    white-space: nowrap; 
    scrollbar-width: none;
}

.scrollIfNeeded::-webkit-scrollbar {
    display: none;
}

.activeUser{
    background-color: rgb(130, 255, 130);
}

.deletedUser{
    background-color: red;
}
