.productCardDesign{
    width: 13em;
    height: auto;
    background-color: red;
    
}

.productCardImage{
    width: 9em;
    height: 9em;
    background-color: white;
}

.productCardName{
    width: 9em;
    height: auto;
}
.productCardPrice{
    width: 9em;
    height: auto;
}

.addToCartButton{
    width: 5em;
    height: auto;
    background-color: black;
    color: white;
    cursor: pointer;
}

.plusButton{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-image: url("../../assets/plusButton.png") ;
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;

}

.unitsText{
    width: 2em;
    height: 2em;
}

.minusButton{
    width: 2em;
    height: 2em;
    
    border-radius: 50%;
    background-image: url("../../assets/minusButton.png");
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
}



