.cartProductCarcDesign{

    width: auto;
    background-color: #d8d8d8;
}

.cartProductCardPicture{
    height: 8em;
    width: 8em;
    border: solid black 1px;
}

.trashButton{
    height: 2em;
    width: 2em;
    background-image: url(../../assets/trashButton.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.payButton {
    background-color: black;
    color: white;
    cursor: pointer;
    
}

.borderCart{
    border: solid black 0.1em;
    min-height: 30vh;
    min-width: 90vw;

}
